body{
    background-color: #333;
    font-family: Helvetica;

}

.container{  /*Tecnica feira para centralizar a container*/
    height: 100vh;
    width: 100%;
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}

.clock{
    font-size: 3rem;
    font-weight: bold; /*Para deixar em negrito*/
    color: #fff;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    height: 80px; /*altura*/
    display: flex;/*usa-se display:flex para centralizar verticalmente e align-itens*/
    align-items: center;

}
.clock span{
    margin-right: 0.5rem;/*dando um espaçamento entre os numeros*/
}